.container {
    max-width: 1200px
}

header {
    border-bottom: 1px solid #000;
    text-align: center;
}

footer {
    border-top: 1px solid #000;
}

main {
    text-align: center;
}
.image {
    text-align: center;
    max-width: 400px;
}
